:root {
  --cinza: #aaa;
  --cinza-escuro: #1C1C1C;
  --verde-escuro: #187575;
  --verde: #0fc2c0;
  --branca: #EEEEEE;
  --luz: #0fc2c0;
  --preto: #000000;
  --font-header: 16px "Constantia";
}

.header, .header__links {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  background-color: var(--cinza-escuro);
  height: 3.5em;
  justify-content: space-between;
  box-shadow: 1px 1px 4px var(--verde);
  z-index: 1;

}

.header__links {
  gap: 2em;
}

.header__links a, .sidebar a {
  text-decoration: none;
  color: var(--branca);
  transition: 0.4s;
  font-weight: bold;

}

.header__links a:hover, .sidebar a:hover  {
  color: var(--verde);
}

:target {
  scroll-margin-top: 4em;
}

:target h1 {
  color: var(--verde);
}

.header__logo_picture {
  width: 2.5em;
}

.header__btn_menu {
  background-color: transparent;
  border: none;
  color: var(--branca);
  cursor: pointer;
  margin-top: 10px;
  display: none;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100%;
  width: 35vw;
  animation-duration: 0.5s;
  background-color: var(--cinza-escuro);
  text-align: center;
  gap: 3%;
  left: -100vw;
  z-index: 10;
}

.side_bar__button:hover{
  transition: 0.4s;
  color: var(--verde);
}
body {
  align-items: center;
  background: linear-gradient(90deg, #023535 20%, #000000);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: linear-gradient(to bottom, #999 0%,#666 100%);
  box-shadow: 6px 8px 0 6px #444, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--verde-escuro);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--verde-escuro);
  border: 4px solid  var(--verde-escuro);
  box-shadow: 3px 3px 0 var(--verde) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--verde) inset, 1px 1px 10px var(--luz);
}

.footer {
  font-family: Roboto, sans-serif;
  color: var(--branca);
  background-color: var(--cinza-escuro);
  position: fixed;
  box-sizing: border-box;
  bottom: 0px;
  height: 3em;
  width: 100%;
  padding: 0 2%;
  box-shadow: 0px 0px 4px var(--verde);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer__framework_icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30%;
  margin: 2% 0;
}

.footer__framework_icons img {
  width: 1.1em;
}

@media screen and (max-width: 780px){
  .header__btn_menu {
    display: block;
  }

  .header__links {
    display: none;
  }
}

@keyframes show_side_bar {
  from {left: -100vw;}
  to {left: 0vw;}
  
}

@keyframes close_side_bar {
  from {left: -0vw;}
  to {left: -100vw;}
  
}